<div class="row cards">

  <div class="col card-perfil">

    <div class="col row titulo-perfil">
      PERFIL
    </div>

    <div class="col row icone-perfil">
      <img src="assets/icone-user.svg" alt="user" height="350">
    </div>

    <div class="col dados-perfil">
      <label for="nome" style="margin: 5px; font-size: 2rem; font-weight: 600;">
        Nome: <span style="font-weight: 100;">{{usuarioLogado.pessoa.nome}}</span>
      </label>
      <label for="telefone" style="margin: 5px; font-size: 2rem; font-weight: 600;">
        Telefone: <span style="font-weight: 100;">{{usuarioLogado.pessoa.telefone}}</span>
      </label>
      <label for="email" style="margin: 5px; font-size: 2rem; font-weight: 600;">
        Email: <span style="font-weight: 100;">{{usuarioLogado.email}}</span>
      </label>
    </div>

    <button class="btn-confimar" style="margin: 10px;" (click)="logout()">SAIR</button>

  </div>

  <div class="col" style="height: 100%; padding-top: 0;">

    <div class="col row card-reserva">

      <div class="col row titulo-reserva">
        RESERVAS
      </div>

      <div class="col dados-reserva">
        <div class="listar-dados" *ngIf="perfilUsuario.dtUltimaReserva">

          <i class="pi pi-calendar icone-reserva" style="font-size: 9rem"></i>

          <div class="info-reserva">

            <label for="dtReserva" style="margin: 5px; font-size: 1.5rem; font-weight: 600;">Data ultima reserva:
              <span style="font-weight: 100;">{{perfilUsuario.dtUltimaReserva}}</span>
            </label>
            <label for="dtReserva" style="margin: 5px; font-size: 1.5rem; font-weight: 600;">Status ultima reserva:
              <span style="font-weight: 100;">{{formatarEnumReserva(perfilUsuario.statusUltimaReserva)}}</span>
            </label>
            <label for="dtReserva" style="margin: 5px; font-size: 1.5rem; font-weight: 600;">QTD Reservas feitas:
              <span style="font-weight: 100;">{{perfilUsuario.qtdReservasFeitas}}</span>
            </label>

          </div>

        </div>

        <div class="criar-reserva" *ngIf="!perfilUsuario.dtUltimaReserva">

          <label for="reservas" style="margin-bottom: 10px;">Faça sua primeira reserva!</label>
          <button class="btn-confimar" style="margin-top: 10px;" (click)="this.router.navigate(['reserva'])">AGENDAR</button>

        </div>
      </div>

    </div>

    <div class="col row card-pedido">

      <div class="col row titulo-pedido">
        PEDIDOS
      </div>

      <div class="col dados-pedido">

        <div class="listar-dados" *ngIf="perfilUsuario.dtUltimaCompra">

          <i class="pi pi-shopping-cart icone-pedido" style="font-size: 9rem"></i>

          <div class="info-reserva">

            <label for="dtReserva" style="margin: 5px; font-size: 1.5rem; font-weight: 600;">Data ultimo pedido:
              <span style="font-weight: 100;">{{perfilUsuario.dtUltimaCompra}}</span>
            </label>
            <label for="dtReserva" style="margin: 5px; font-size: 1.5rem; font-weight: 600;">Status ultimo pedido:
              <span style="font-weight: 100;">{{formatarEnumPedido(perfilUsuario.statusUltimaCompra)}}</span>
            </label>
            <label for="dtReserva" style="margin: 5px; font-size: 1.5rem; font-weight: 600;">QTD Pedidos feitos:
              <span style="font-weight: 100;">{{perfilUsuario.qtdPedidosFeito}}</span>
            </label>

          </div>

        </div>

        <div class="criar-pedido" *ngIf="!perfilUsuario.dtUltimaCompra">

          <label for="reservas" style="margin-bottom: 10px;">Faça seu primeiro pedido!</label>
          <button class="btn-confimar" style="margin-top: 10px;" (click)="this.router.navigate(['loja'])">LOJA</button>

        </div>

      </div>

    </div>

  </div>

</div>
