<main class = "formulario">
  <div class="form">
    <h1 class="text-center">Cadastrar Usuário</h1>

    <div class="row div-inputs">
      <div class="col">
        <input type="text" class="form-control" placeholder="000.000.000-00" [(ngModel)]="value"/>
      </div>
    </div>

    <div class="row div-inputs">
      <div class="col">
        <input type="text" class="form-control" placeholder="username123" [(ngModel)]="value"/>
      </div>
    </div>

    <div class="row div-inputs">
      <div class="col">
        <input type="text" class="form-control" placeholder="***" [(ngModel)]="value"/>
      </div>
    </div>

    <div class="row div-inputs">
      <div class="col">
        <button class="botoes" type="submit">CONFIRMAR</button>
      </div>
    </div>
  </div>
</main>

