.container-fluid {
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-background {
  background-image: url(/assets/imagem_barbeiro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.font-color {
  color: #F2DAC2
}

.text-align-justify{
  text-align: justify;
}

.font-size-10vh{
  font-size: 7vh;
}

.text-shadow{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 3.5vh;
}

.margem {
  margin: 0 10vh;
}

