<p-messages [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
<div class="fundo-sistema">
  <div class="tela-listagem">

    <div class="col posicionamento-botao">
      <button class="btn botao1" (click)="cadastrar()">
        <i class="icone pi pi-plus"></i>
      </button>
    </div>

    <div class="tabela-dados">
      <p-table [value]="listaEntidades" [responsive]="true" emptyMessage="Nenhum registro encontrado." [tableStyle]="{ 'min-width': '50rem' }" [lazy]="true" (onLazyLoad)="listar()">
        <ng-template pTemplate="header">
          <tr>
            <th>Descrição</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Tempo</th>
            <th class="text-center">Status</th>
            <th class="text-center">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obj>
          <tr>
            <td>{{ obj.descricao }}</td>
            <td class="text-center">{{ obj.valor }}</td>
            <td class="text-center">{{ obj.tempo }}</td>
            <td class="text-center">
              <label-status [ativo]="obj.ativo"></label-status>
            </td>
            <td class="text-center">
              <coluna-opcoes [ativo]="obj.ativo"
                            (onEditar)="cadastrar(obj)"
                            (onVisualizar)="visualizar(obj)"
                            (onExcluir)="excluir(obj)"
                            (onStatus)="status(obj.id)">
              </coluna-opcoes>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-dialog header="Serviço" [maximizable]="false" [draggable]="false" [(visible)]="modalCadastro" [modal]="true" [style]="{width: '80vw'}" (onHide)="isVisualizacao = false">
    <div class="cadastro">
      <div class="form form-cadastro">
        <div class="row">

          <div class="col">
            <label htmlFor="imagem" class="label-input">Imagem</label>
            <imagem-preview [maxLength]="2000000" [entidade]="entidadeForm" [visualizacao]="isVisualizacao"></imagem-preview>
          </div>

          <div class="col">
            <div class="row">
              <div class="col input-grupo">
                <label htmlFor="descricao" class="label-input">Descrição</label>
                <input [disabled]="isVisualizacao" type="text" class="input-personalizado" pInputText
                      [(ngModel)]="entidadeForm.descricao"/>
              </div>
            </div>

            <div class="row">
              <div class="col input-grupo">
                <label htmlFor="valor" class="label-input">Valor</label>
                <p-inputNumber [disabled]="isVisualizacao" class="input-personalizado" [(ngModel)]="entidadeForm.valor"
                              inputId="currency-br" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
              </div>
            </div>

            <div class="row">
              <div class="col input-grupo">
                <label htmlFor="tempo" class="label-input">Tempo</label>
                <input [disabled]="isVisualizacao" type="number" class="input-personalizado" pInputText
                      [(ngModel)]="entidadeForm.tempo"/>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div *ngIf="!isVisualizacao" class="col" style="display: flex; justify-content: flex-end;">
        <button class="btn-confimar" type="submit" (click)="salvar()">CONFIRMAR</button>
      </div>

    </div>
  </p-dialog>
</div>
