<div class="container-fluid style-background">
  <div class="col-12">
    <div class="col-6">
      <div class="col-6 margem">
        <h2 class="khand-font-700 font-color font-size-10vh text-shadow mb-4">A HISTÓRIA</h2>
        <p class="popins-font-500 font-color text-shadow text-align-justify">
          O homem moderno também cuida da sua aparência
          e a Oliveira's Studio Barbearia surgiu no ano de 2017,
          com o intuito de restaurar dignidades e transformar
          a vida das pessoas, indo além de um simples corte
          de cabelo. Aqui priorizamos o bem-estar dos nossos
          clientes e isso é possível graças ao
          comprometimento de uma equipe preparada e um
          excelente atendimento. Estamos te esperando!
        </p>

        <div>
          <button class="btn-confimar" (click)="redirecionarParaAgendamento('reserva/novo')">AGENDAR</button>
        </div>
      </div>
    </div>
  </div>
</div>
