
<div class="container-fluid style-background">
  <div>
    <img class="d-flex imagem margin-bottom" src="assets/logo_barbearia_sem_fundo.svg" alt="imagemLateral">
  </div>

  <div class="rodape-retangulo d-flex justify-content-around">
      <div class="col-3 div-centralizada ml-3">
        <div>
          <h1 class="khand-font-500 font-color-titulo div-centralizada mt-2">ENDEREÇO</h1>
          <a href="https://goo.gl/maps/btUDQF8KycyaWE4P6" target="_blank" class="texto-centralizado popins-font-700">R. dos Junquilhos - Parque Oeste Industrial, Goiânia - GO, 74375-640</a>
        </div>
      </div>

    <div class="retangulo d-flex mt-4"></div>

      <div class="col-3 div-centralizada">
        <div>
          <h1 class="khand-font-500 font-color-titulo div-centralizada mt-2">FALE CONOSCO</h1>
          <a href="tel:+5562993955124" target="_blank" class="texto-centralizado popins-font-700">(62) 99395-5124</a>

        </div>
      </div>

    <div class="retangulo d-flex mt-4"></div>

      <div class="col-3 mr-5 div-centralizada">
        <div>
          <h1 class="khand-font-500 font-color-titulo div-centralizada mt-2">HORÁRIO</h1>
          <p class="texto-centralizado popins-font-700">09:00 às 19:00</p>
        </div>
      </div>

  </div>

</div>














